<h1>Challenges</h1>

<h2>Challenges received</h2>

<% if @challenges_received.blank? %>
  <p>No challenges received at this moment.</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Sent at</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <% @challenges_received.each_with_index do |challenge, index|  %>
          <tr>
            <th scope="row"><%= index + 1%></th>
            <td><%= challenge.challenger.username %></td>
            <td><%= challenge.created_at %></td>
            <td>
              <%= link_to "Accept", accept_challenge_path(challenge), :class => 'btn btn-primary' %>
              <%= link_to "Reject", delete_challenge_path(challenge), :class => "btn btn-danger", :class => 'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>

<h2>Challenges sent</h2>

<% if @challenges_sent.blank? %>
  <p>You haven't sent any challenge.</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Sent at</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        <% @challenges_sent.each_with_index do |challenge, index|  %>
          <tr>
            <th scope="row"><%= index + 1%></th>
            <td><%= challenge.challenged.username %></td>
            <td><%= challenge.created_at %></td>
            <td><%= link_to "Cancel", delete_challenge_path(challenge), :class => "btn btn-danger" %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% end %>
<%= react_component("SearchUser") %>