<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
  <%= link_to("WebChess", homepage_path, {:class => 'navbar-brand'}) %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to("Home", homepage_path, {:class => 'nav-link'}) %>
      </li>
      <% if @current_user == nil %>
      <li class="nav-item">
        <%= link_to("Login", user_login_path, {:class => 'nav-link'}) %>
      </li>
      <li class="nav-item">
        <%= link_to("Register", new_user_path, {:class => 'nav-link'}) %>
      </li>
      <% else %>
        <%= link_to("Challenges", challenge_index_path, {:class => 'nav-link'}) %>
        <%= link_to("Games", game_index_path, {:class => 'nav-link'}) %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="user-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @current_user.username %>
          </a>
          <div class="dropdown-menu" aria-labelledby="user-dropdown">
            <%= link_to("Logout", user_logout_path, {:class => 'dropdown-item'}) %>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      <% end %>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>