%nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.fixed-top
  = link_to("WebChess", homepage_path, {:class => 'navbar-brand'})
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to("Home", homepage_path, {:class => 'nav-link'})
      - if @current_user == nil
        %li.nav-item
          = link_to("Login", user_login_path, {:class => 'nav-link'})
        %li.nav-item
          = link_to("Register", new_user_path, {:class => 'nav-link'})
      - else
        = link_to("Challenges", challenge_index_path, {:class => 'nav-link'})
        = link_to("Games", game_index_path, {:class => 'nav-link'})
        %li.nav-item.dropdown
          %a#user-dropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            = @current_user.username
          .dropdown-menu{"aria-labelledby" => "user-dropdown"}
            = link_to("Logout", user_logout_path, {:class => 'dropdown-item'})
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"} Another action
            .dropdown-divider
            %a.dropdown-item{:href => "#"} Something else here
      %li.nav-item
        %a.nav-link.disabled{"aria-disabled" => "true", :href => "#", :tabindex => "-1"} Disabled
