<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>

    <title>WebChess<%= " | " + @page_title if @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>
  <body>
    <%= render('application/navbar') %>
    <div class="container">
      <% if !flash[:notice].blank? %>
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>